</div>
<footer class="text-center text-muted w-100 mt-auto" style="background-color: blue;">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <p style="color: white;">
        &copy; Copyright 2022 : CSCI 3308 - Individual Project
    </p>
</footer>
</body>

</html>